# ***TASK 2: DATA UNDERSTANDING***

**Load Data**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv ('training_set_VU_DM.csv')
df

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [3]:
df.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,...,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,...,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,...,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,...,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,...,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,...,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,...,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

**Count and remove Nan-values**

In [4]:
count = 0
non_nan = 0
d = {}
for column in df:
  perc_NaN = df[column].isna().sum() / len(df[column])
  d[column] = perc_NaN
  if perc_NaN > 0.5:
    count += 1
    df = df.drop(columns=column)
  else:
    non_nan += 1
print(count, non_nan)

28 26

In [ ]:
sorted_tuples = sorted(d.items(), key=lambda item: item[1])
d = {k: v for k, v in sorted_tuples}
f, ax = plt.subplots(figsize=(18,5))
plt.bar(range(len(d)), list(d.values()), align='center')
plt.xticks(range(len(d)), list(d.keys()), rotation = 90)

plt.show()

**Correlations**

In [ ]:
correlation = df.corr()
plt.figure(figsize=(18, 18))
sns.heatmap(correlation, vmax=1, square=True,annot=True,cmap='viridis')
plt.title('Correlation between different features')

**Property values**

In [ ]:
df_prop = df.copy()
remove_list = ['srch_id', 'date_time', 'site_id', 'visitor_location_country_id', 'prop_country_id', 'prop_id', 'prop_brand_bool', 'position', 'price_usd', 'promotion_flag', 'srch_destination_id', 'srch_saturday_night_bool', 'random_bool', 'click_bool', 'booking_bool']
prop_list = ['srch_length_of_stay', 'srch_booking_window', 'srch_adults_count', 'srch_children_count', 'srch_room_count', 'orig_destination_distance']
df_prop = df_prop.drop(columns=remove_list)
df_prop = df_prop.drop(columns=prop_list)

In [ ]:
colors = ['orchid','blue','yellow','red', 'orange']
fig,ax = plt.subplots(figsize=(12,9)) 
ax,props = df_prop.plot.box(patch_artist=True, return_type='both', ax=ax)
for patch,color in zip(props['boxes'],colors):
    patch.set_facecolor(color)
plt.show()

**Length of stay**

In [ ]:
fig,ax = plt.subplots(figsize=(18,5)) 
boxplot = df.boxplot(column='srch_length_of_stay', patch_artist=True, vert=False)

**Booking window**

In [ ]:
fig,ax = plt.subplots(figsize=(18,5)) 
boxplot = df.boxplot(column='srch_booking_window', patch_artist=True, vert=False)

**Site, visitor location, property location**

In [ ]:
id_list = ['site_id', 'visitor_location_country_id', 'prop_country_id']
for id in id_list:
  n, bins, patches = plt.hist(df[id], 100, density = 1, facecolor='blue', alpha=0.75)
  plt.xlabel(id)
  plt.title('Histogram of '+id)
  plt.show();

**Booking and non-booking price**

In [ ]:
sns.set(style="ticks", palette="deep")
ax = sns.boxplot(x="booking_bool", y='price_usd', hue='booking_bool', data=df)
ax.set_ylim([0, 200]);

**Click and non-click price**

In [ ]:
sns.set(style="ticks", palette="pastel")
ax = sns.boxplot(x="click_bool", y="price_usd", hue="click_bool", data=df)
ax.set_ylim([0, 200]);

**Destination distance**

In [ ]:
df['orig_destination_distance_range'] = pd.cut(
    df['orig_destination_distance'],
    bins= [0,100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,11667],
    labels=['0-100', '101-200','201-300',
            '301-400', '401-500','501-600',
            '601-700', '701-800','801-900',
            '901-1000', '1001-1100','1101-1200',
            '1201-1300', '1301-1400', '>1400']
)

In [ ]:
count_classes = pd.value_counts(df['orig_destination_distance_range'], sort = True).sort_index()/len(df)
f, ax = plt.subplots(figsize=(16,4))
count_classes.plot(kind = 'bar', color='aqua')
plt.title("Destination Distance Range")
plt.ylabel("Percentage")

**Price range**

In [ ]:
df['price_usd_range'] = pd.cut(
    df['price_usd'],
    bins= [0,50,100,150,200,250,300,350,400,450,500,550,600,650,700,750,800,850,19726329],
    labels=['0-50', '51-100','100-150', 
            '151-200', '201-250', '251-300',
            '301-350', '351-400', '401-450', 
            '451-500', '501-550', '551-600', 
            '601-650','651-700', '701-750',
            '751-800', '801-850', '>850']
)

In [ ]:
count_classes = pd.value_counts(df['price_usd_range'], sort = True).sort_index()/len(df)
f, ax = plt.subplots(figsize=(16,4))
count_classes.plot(kind = 'bar', color='deeppink')
plt.title("Price Range")
plt.ylabel("Percentage")

**Number of adults and children**

In [ ]:
count_classes = pd.value_counts(df['srch_adults_count'], sort = True).sort_index()/len(df)
f, ax = plt.subplots(figsize=(9,4))
count_classes.plot(kind = 'bar', color='red')
plt.title("Adults Count")
plt.ylabel("Percentage")

In [ ]:
count_classes = pd.value_counts(df['srch_children_count'], sort = True).sort_index()/len(df)
f, ax = plt.subplots(figsize=(9,4))
count_classes.plot(kind = 'bar', color='green')
plt.title("Children Count")
plt.ylabel("Percentage")

In [ ]:
df['family'] = df['srch_adults_count'].astype(str) +"-"+ df['srch_children_count'].astype(str)
f, ax = plt.subplots(figsize=(16,4))
count_classes = pd.value_counts(df['family'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color = 'blue')
plt.title("Adult-Children")
plt.ylabel("Percentage")

**Position in query**

In [ ]:
count_classes = pd.value_counts(df['position'], sort = True).sort_index()/len(df)
f, ax = plt.subplots(figsize=(16,4))
count_classes.plot(kind = 'bar', color='teal')
plt.title("Position")
plt.ylabel("Percentage")

In [ ]:
df_sorted_booked = df[(df['random_bool'] == 0) & (df['booking_bool'] == 1)]
df_sorted_clicked = df[(df['random_bool'] == 0) & (df['click_bool'] == 1)]

sns.histplot(data=df_sorted_booked, x="position", color="red", label="booking", discrete=True, alpha=1)
sns.histplot(data=df_sorted_clicked, x="position", color="blue", label="clicked", discrete=True, alpha=0.3)

plt.legend()

In [ ]:
df_random_booked = df[(df['random_bool'] == 1) & (df['booking_bool'] == 1)]
df_random_clicked = df[(df['random_bool'] == 1) & (df['click_bool'] == 1)]

sns.histplot(data=df_random_booked, x="position", color="red", label="booking", discrete=True, alpha=1)
sns.histplot(data=df_random_clicked, x="position", color="blue", label="clicked", discrete=True, alpha=0.3)

plt.legend()

**Promotion**

In [ ]:
count_classes = pd.value_counts(df['promotion_flag'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color='darkred')
plt.title("Promotion Flag or Not")
plt.ylabel("Percentage")

**Independent property or belonging to chain**

In [ ]:
count_classes = pd.value_counts(df['prop_brand_bool'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color='navy')
plt.title("Independent hotel or Not")
plt.ylabel("Percentage")

**Saturday night**

In [ ]:
count_classes = pd.value_counts(df['srch_saturday_night_bool'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color='olive')
plt.title("Suturday night or Not")
plt.ylabel("Percentage")

**Random or sorted**

In [ ]:
count_classes = pd.value_counts(df['random_bool'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color='lavender')
plt.title("Sorted or Not")
plt.ylabel("Percentage")

**Searches over time periods**

In [ ]:
df['date'] = df['date_time'].str.split().str[0]
df['hour'] = df['date_time'].str.split().str[1]

df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['weekday'] = df['date'].dt.weekday
df['day'] = df['date'].dt.day

df['hour'] = pd.to_datetime(df['hour'], errors='coerce')
df['hour'] = df['hour'].dt.hour

df['month-year'] = df['month'].astype(str) +"-"+ df['year'].astype(str)

In [ ]:
count_classes = pd.value_counts(df['weekday'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color = 'blue')
plt.title("Searches per weekday")
plt.ylabel("Percentage")

In [ ]:
count_classes = pd.value_counts(df['hour'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color = 'orange')
plt.title("Searches per hour")
plt.ylabel("Percentage")

In [ ]:
count_classes = pd.value_counts(df['month'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color = 'green')
plt.title("Searches per month")
plt.ylabel("Percentage")

In [ ]:
count_classes = pd.value_counts(df['month-year'], sort = True).sort_index()/len(df)
count_classes.plot(kind = 'bar', color = 'lightcoral')
plt.title("Searches per month")
plt.ylabel("Percentage")

# ***TASK 3: DATA PREPARATION***

## Imputation:

**Random sample**

In [5]:
import random

def RandomImputation(df2, column_name):
    df = df2.copy()
    for col in df.columns:
        data = df[column_name]
        mask = data.isnull()
        samples = random.choices( data[~mask].values , k = mask.sum() )
        data[mask] = samples
    return df

**Mean**

In [6]:
def MeanImputation(df2, column_name):
  df = df2.copy()
  df[column_name].fillna((df[column_name].mean()), inplace=True)
  return df

**Median**

In [7]:
def MedianImputation(df2, column_name):
  df = df2.copy()
  df[column_name].fillna((df[column_name].median()), inplace=True)
  return df

**KNN**

In [14]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_test = pd.DataFrame(scaler.fit_transform(df_test), columns = df_test.columns)
df_test.head()

NameError: name 'df_test' is not defined

In [ ]:
from sklearn.impute import KNNImputer

def KNNImputation(df2, column_name):
  df = df2.copy()
  #df = df.drop(columns='date_time')
  imputer = KNNImputer(n_neighbors=5)
  df = imputer.fit_transform(df)
  return df

**Test**

In [9]:
missing_value_columns = ['prop_location_score2', 'orig_destination_distance']

for column in missing_value_columns:
    df_new = MeanImputation(df, column)

## Scaling

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_test = df_new.drop(["srch_id", "date_time", "position", "click_bool", "booking_bool"],
                        axis=1)
df_test = pd.DataFrame(scaler.fit_transform(df_test), columns = df_test.columns)
df_new = pd.concat([df_new[["srch_id", "date_time", "position", "click_bool", "booking_bool"]], df_test], axis=1)

## Balancing

In [ ]:
not_click_indices = df[df.click_bool == 0].index
not_click_indices = np.random.choice(not_click_indices, len(df.loc[df.click_bool == 0]) - len(df.loc[df.click_bool == 1]), replace=False)
df_new = df.drop(df.index[not_click_indices])

print("Percentage of not click impressions: ", len(df_new[df_new.click_bool == 0])/len(df_new))
print("Percentage of click impression: ", len(df_new[df_new.click_bool == 1])/len(df_new))
print("Total number of records in resampled data: ", len(df_new))

# ***TASK 4: Modeling***

**Define model**

In [17]:
import lightgbm

model = lightgbm.LGBMRanker(
    objective="lambdarank",
    metric="ndcg",
    num_leaves=10,
    boosting="gbdt",
    num_iterations=750,
    learning_rate=0.1,
    max_bin=255,
    min_data_in_leaf=20,
    min_sum_hessian_in_leaf=1e-3,
    num_estimators=100
)

## Validation:

**Get train/val split**

In [18]:
from sklearn.model_selection import GroupShuffleSplit

splitter = GroupShuffleSplit(test_size=.10, n_splits=1, random_state=42)
split = splitter.split(df_new, groups=df['srch_id'])
train_inds, val_inds = next(split)

train_df = df.iloc[train_inds]
validation_df = df.iloc[val_inds]

qids_train = train_df.groupby("srch_id")["srch_id"].count().to_numpy()
X_train = train_df.drop(["srch_id", "date_time", "position", "click_bool", "booking_bool"],
                        axis=1)
y_train = train_df["booking_bool"] * 4 + train_df["click_bool"]

qids_validation = validation_df.groupby("srch_id")["srch_id"].count().to_numpy()
X_validation = validation_df.drop(
    ["srch_id", "date_time", "position", "click_bool", "booking_bool"], axis=1)
y_validation = validation_df["booking_bool"] * 4 + validation_df["click_bool"]

**Fit model**

In [19]:
model.fit(
    X=X_train,
    y=y_train,
    categorical_feature=["site_id", "visitor_location_country_id", "prop_country_id", "prop_id", "prop_brand_bool",
                         "promotion_flag", "srch_destination_id", "srch_saturday_night_bool", "random_bool"],
    group=qids_train,
    eval_set=[(X_validation, y_validation)],
    eval_group=[qids_validation],
    eval_at=5,
    verbose=10,
)

C:\Users\Jamie\anaconda3\lib\site-packages\lightgbm\sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\Jamie\anaconda3\lib\site-packages\lightgbm\engine.py:177: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")
C:\Users\Jamie\anaconda3\lib\site-packages\lightgbm\basic.py:2065: UserWarning: Using categorical_feature in Dataset.
  _log_warning('Using categorical_feature in Dataset.')
C:\Users\Jamie\anaconda3\lib\site-packages\lightgbm\basic.py:2068: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['promotion_flag', 'prop_brand_bool', 'prop_country_id', 'prop_id', 'random_bool', 'site_id', 'srch_destination_id', 'srch_saturday_night_bool', 'visitor_location_country_id']
  _log_warning('categorical_feature in Dataset is overridden.\n'
C:\Users\Jamie\anaconda3\lib\site-packages\lightgbm\basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
C:\Users\Jamie\anaconda3\lib\site-packages\lightgbm\basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[10]	valid_0's ndcg@5: 0.352355
[20]	valid_0's ndcg@5: 0.36469
[30]	valid_0's ndcg@5: 0.369483
[40]	valid_0's ndcg@5: 0.372434
[50]	valid_0's ndcg@5: 0.376723
[60]	valid_0's ndcg@5: 0.377344
[70]	valid_0's ndcg@5: 0.37849
[80]	valid_0's ndcg@5: 0.381104
[90]	valid_0's ndcg@5: 0.381538
[100]	valid_0's ndcg@5: 0.383647
[110]	valid_0's ndcg@5: 0.384658
[120]	valid_0's ndcg@5: 0.385157
[130]	valid_0's ndcg@5: 0.386349
[140]	valid_0's ndcg@5: 0.387289
[150]	valid_0's ndcg@5: 0.387574
[160]	valid_0's ndcg@5: 0.387663
[170]	valid_0's ndcg@5: 0.388458
[180]	valid_0's ndcg@5: 0.388802
[190]	valid_0's ndcg@5: 0.388953
[200]	valid_0's ndcg@5: 0.389546
[210]	valid_0's ndcg@5: 0.390424
[220]	valid_0's ndcg@5: 0.391285
[230]	valid_0's ndcg@5: 0.390948
[240]	valid_0's ndcg@5: 0.391277
[250]	valid_0's ndcg@5: 0.392094
[260]	valid_0's ndcg@5: 0.392151
[270]	valid_0's ndcg@5: 0.392622
[280]	valid_0's ndcg@5: 0.392539
[290]	valid_0's ndcg@5: 0.392983
[300]	valid_0's ndcg@5: 0.39297
[310]	valid_0's ndcg@5: 0.392976
[320]	valid_0's ndcg@5: 0.393293
[330]	valid_0's ndcg@5: 0.393118
[340]	valid_0's ndcg@5: 0.393101
[350]	valid_0's ndcg@5: 0.393582
[360]	valid_0's ndcg@5: 0.39356
[370]	valid_0's ndcg@5: 0.39328
[380]	valid_0's ndcg@5: 0.393276
[390]	valid_0's ndcg@5: 0.393625
[400]	valid_0's ndcg@5: 0.394159
[410]	valid_0's ndcg@5: 0.394184
[420]	valid_0's ndcg@5: 0.394211
[430]	valid_0's ndcg@5: 0.394403
[440]	valid_0's ndcg@5: 0.394141
[450]	valid_0's ndcg@5: 0.394689
[460]	valid_0's ndcg@5: 0.394609
[470]	valid_0's ndcg@5: 0.39458
[480]	valid_0's ndcg@5: 0.394699
[490]	valid_0's ndcg@5: 0.394936
[500]	valid_0's ndcg@5: 0.39492
[510]	valid_0's ndcg@5: 0.394665
[520]	valid_0's ndcg@5: 0.394532
[530]	valid_0's ndcg@5: 0.394872
[540]	valid_0's ndcg@5: 0.394672
[550]	valid_0's ndcg@5: 0.394643
[560]	valid_0's ndcg@5: 0.394585
[570]	valid_0's ndcg@5: 0.39431
[580]	valid_0's ndcg@5: 0.394853
[590]	valid_0's ndcg@5: 0.394622
[600]	valid_0's ndcg@5: 0.394986
[610]	valid_0's ndcg@5: 0.395109
[620]	valid_0's ndcg@5: 0.395081
[630]	valid_0's ndcg@5: 0.395308
[640]	valid_0's ndcg@5: 0.395703
[650]	valid_0's ndcg@5: 0.395687
[660]	valid_0's ndcg@5: 0.395758
[670]	valid_0's ndcg@5: 0.395475
[680]	valid_0's ndcg@5: 0.395562
[690]	valid_0's ndcg@5: 0.395272

KeyboardInterrupt:

## Testing:

**Get all train & test data**

In [ ]:
qids_train = df.groupby("srch_id")["srch_id"].count().to_numpy()
X_train = df.drop(["srch_id", "date_time", "position", "click_bool", "booking_bool", "gross_bookings_usd"],
                        axis=1)
y_train = df["booking_bool"] * 4 + df["click_bool"]

test_df = pd.read_csv('test_set_VU_DM.csv')
qids_test = test_df.groupby("srch_id")["srch_id"].count().to_numpy()
X_test = test_df.drop(["srch_id", "date_time"], axis=1)

**fit model**

In [ ]:
model.fit(
    X=X_train,
    y=y_train,
    categorical_feature=["site_id", "visitor_location_country_id", "prop_country_id", "prop_id", "prop_brand_bool",
                         "promotion_flag", "srch_destination_id", "srch_saturday_night_bool", "random_bool"],
    group=qids_train,
)

**Make predictions and write to csv**

In [ ]:
import csv
from operator import itemgetter

predictions = model.predict(X=X_test, num_iteration=0)
predictions = list(-1.0 * predictions)

recommendations = zip(test_df["srch_id"], test_df["prop_id"], predictions)
rows = [(srch_id, prop_id)
        for srch_id, prop_id, rank_float
        in sorted(recommendations, key=itemgetter(0, 2))]
writer = csv.writer(open("submission.csv", "w"), lineterminator="\n")
writer.writerow(("srch_id", "prop_id"))
writer.writerows(rows)